// Used Color palette
// link: https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
$imperial-red:#e63946;
$honeydew:#f1faee;
$powder-blue:#a8dadc;
$celadon-blue:#457b9d;
$prussian-blue:#1d3557;

// link: https://coolors.co/palette/01161e-124559-598392-aec3b0-eff6e0
$rich-black: #01161e; // ~ Rich Black FOGRA 29
$midnight-green: #124559; //~ Midnight Green Eagle Green
$teal-blue:#598392;
$cambridge-blue:#aec3b0;
$beige:#eff6e0;

// Font and screen
$font-stack: Ubuntu,Arial,Helvetica,sans-serif;
$full-width: 960px;
